.container {
    height : 30px;

    .button {
        height  : 30px;
        padding : 0 var(--offset-small);

        .avatar {
            width  : 26px;
            height : 26px;
        }
    }
}