@use "palette/palette";
@use "themes/light";
@use "themes/dark";
@use "fonts/geist/geist-mono";
@use "sizes/offsets/offsets";
@use "sizes/text-sizes/test-sizes";
@use "transitions/transitions";
@use "animations/animations";
@use "utils/utils";

* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : GeistMono, Consolas, SansSerif, serif;
}

input,
button,
textarea,
select {
    font : inherit;
}

.blockScroll {
    overflow : hidden;
}

.loading {
    animation : loading-rotate ease-in-out .5s infinite;
}

*[inert] {
    transition     : var(--transition-medium);
    pointer-events : none;

    @media only screen and (hover : none) and (pointer : coarse) {
        opacity : .2;
    }

    @media only screen and (hover : hover) {
        filter : blur(5px);
    }
}