$scroll-width : 10px;

.container {
    // overflow       : hidden; // -почему то вызывает постоянные репеинты в диалогах
    width          : 100%;
    height         : 100%;
    position       : relative;
    display        : flex;
    flex-direction : column-reverse;
    transform      : translateZ(0);

    .scrollContainer {
        overflow       : hidden;
        width          : 100%;
        flex           : 1;
        display        : flex;
        flex-direction : column-reverse;
        transition     : var(--transition-fast);
        contain        : strict;
        position       : relative;

        .content {
            height         : fit-content;
            display        : flex;
            flex-direction : column;
        }
    }

    .scrollBar {
        position        : absolute;
        overflow        : hidden;
        top             : 0;
        right           : 0;
        width           : 0;
        height          : 100%;
        background      : var(--bg-ghost-color);
        border-radius   : var(--offset-small);
        transition      : var(--transition-fast);
        display         : flex;
        flex-direction  : column-reverse;
        backdrop-filter : var(--item-backdrop-filter);

        .marker {
            width         : 100%;
            height        : 50px;
            border-radius : var(--offset-small);
            background    : var(--primary-color);
        }
    }

    .loader {
        position  : absolute;
        display   : none;
        left      : 50%;
        top       : 0;
        transform : translate(-50%, -100%);

        &.loading {
            display   : block;
            transform : translate(-50%, 0);
        }

        &.bottom {
            top       : 100%;
            transform : translate(-50%, 0);

            &.loading {
                transform : translate(-50%, -100%);
            }
        }
    }

    .permanent {
        width : 100%;
    }

    &.top {
        flex-direction : column;

        .scrollContainer,
        .scrollBar {
            flex-direction : column;
        }
    }

    &.scrollable {
        .scrollContainer,
        .permanent {
            padding-right : calc($scroll-width + var(--offset-small));
        }

        .scrollBar {
            width : $scroll-width;
        }
    }
}