.container {
    position       : relative;
    container-type : inline-size;
    container-name : container;
    font-weight    : 200;

    .image {
        position  : absolute;
        top       : 50%;
        left      : 50%;
        transform : translate(-50%, -50%);
        width     : 100%;
        height    : 100%;
        border    : 1px solid var(--border-main-color);

        @container container (min-width: 200px) {
            &::after {
                display : none;
            }

            &::before {
                visibility : visible !important;
                opacity    : 1 !important;;
                font-size  : var(--font-size-s) !important;;
            }
        }

        @container container (max-width: 200px) {
            &::after {
                width  : 10px !important;
                height : 10px !important;
            }
        }

        @container container (max-width: 40px) {
            &::after {
                width  : 6px !important;
                height : 6px !important;
            }
        }

        &::after {
            content       : '';
            position      : absolute;
            top           : -2px;
            left          : -2px;
            border-radius : 50%;
            z-index       : 2;
            border        : 2px solid var(--bg-main-color);
            background    : var(--bg-main-color);
            opacity       : 0;
            visibility    : hidden;
            transition    : var(--transition-fast);
        }

        &::before {
            content       : attr(data-status) " ";
            position      : absolute;
            top           : -7px;
            left          : -7px;
            font-weight   : bold;
            opacity       : 0;
            visibility    : hidden;
            font-size     : 0;
            padding       : var(--offset-small);
            border-radius : var(--offset-small);
        }
    }

    &.small {
        width         : 26px;
        min-width     : 26px;
        height        : 26px;
        min-height    : 26px;
        font-size     : var(--font-size-m);
        border-radius : var(--offset-small);
        background    : var(--bg-ghost-color);

        .image {
            border-radius : var(--offset-small);
        }
    }

    &.medium {
        width         : 50px;
        min-width     : 50px;
        height        : 50px;
        min-height    : 50px;
        font-size     : var(--font-size-xl);
        border-radius : var(--offset-medium);
        background    : var(--bg-ghost-color);

        .image {
            border-radius : var(--offset-medium);
        }
    }

    &.large {
        width         : 240px;
        min-width     : 240px;
        height        : 240px;
        min-height    : 240px;
        font-size     : var(--font-size-eeel);
        border-radius : var(--offset-large);
        background    : var(--bg-ghost-color);

        .image {
            border-radius : var(--offset-large);
        }
    }

    &.online {
        .image {
            &::after {
                background : var(--second-color);
                opacity    : 1;
                visibility : visible;
            }

            &::before {
                background : var(--second-color);
                color      : var(--on-second-text-color);
            }
        }
    }

    &.offline {
        .image {
            &::after {
                background : var(--ghost-color);
                opacity    : 1;
                visibility : visible;
            }

            &::before {
                background : var(--ghost-color);
                color      : var(--on-ghost-text-color);
            }
        }
    }
}