.container {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    user-select     : none;
    text-decoration : underline;
    text-transform  : uppercase;
}