.container {
    width     : fit-content;
    max-width : 300px;

    .divider {
        width      : 1px;
        height     : 20px;
        margin     : 0 var(--offset-small);
        background : var(--border-main-color);
    }
}