.container {
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-medium);
    height         : 100%;

    .buttons {
        height : 50px;
    }

    .notifications {
        height : calc(100% - 50px);
    }
}