.container {
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-medium);
    height         : 100%;

    .buttons {
        height        : 40px;
        background    : var(--bg-ghost-color);
        padding       : var(--offset-small);
        border-radius : var(--offset-small);
    }

    .notifications {
        height : calc(100% - 40px - var(--offset-medium));
    }
}