.container {
    .main {
        display        : flex;
        flex-direction : row;
        align-items    : start;

        .right {
            width : 100%;

            .children {
                margin-top : var(--offset-small);
            }
        }

        time {
            font-size : var(--font-size-s);
            color     : var(--text-second-color);
        }
    }
}