$max-width    : 100%;
$target-width : 800px;

.container {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    gap            : var(--offset-extra-large);
    padding        : var(--offset-medium);
    width          : 100%;

    .item {
        width     : $target-width;
        max-width : $max-width;
    }

    .inputContainer {
        width       : 100%;
        align-items : center;

        .input {
            padding    : 20px;
            display    : block;
            text-align : center;
        }
    }
}