@keyframes rotate360 {
    0% {
        transform : rotate(0deg);
    }

    100% {
        transform : rotate(360deg);
    }
}

.container {
    width    : 50px;
    height   : 50px;
    position : relative;

    &::after {
        content       : '';
        position      : absolute;
        top           : 0;
        left          : 0;
        width         : 100%;
        height        : 100%;
        animation     : rotate360 2s infinite ease-in-out;
        border-radius : 50%;
        border        : 2px solid var(--primary-color);
        border-right  : 2px solid transparent;
    }

    &::before {
        content       : '';
        position      : absolute;
        top           : 5px;
        left          : 5px;
        width         : calc(100% - 10px);
        height        : calc(100% - 10px);
        animation     : rotate360 1s infinite ease-in-out;
        border-radius : 50%;
        border        : 2px dotted var(--ghost-color);
        border-right  : 2px dotted transparent;
    }
}