:root .light {
    --bg-main-color     : var(--white);
    --bg-second-color   : var(--light-gray);

    --text-main-color   : var(--black);
    --text-second-color : var(--gray);

    --primary-color     : var(--blue);
    --second-color      : var(--green);
    --ghost-color       : var(--gray);

    --border-main-color : var(--light-gray);
}