@import "fonts/geist/geist-mono";
@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.theme, body {
    font       : var(--font-l);
    color      : var(--default-color);
    background : var(--bg-color);
}