@import "palette/palette";
@import "themes/light";
@import "themes/dark";
@import "fonts/geist/geist-mono";
@import "sizes/offsets/offsets";
@import "transitions/transitions";

* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : GeistMono, Consolas, SansSerif, serif;
}

input,
button,
textarea,
select {
    font : inherit;
}

.blockScroll {
    overflow : hidden;
}

*[inert] {
    transition : var(--transition-medium);
    filter     : blur(5px);
}