.container {
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-small);

    .main {
        padding        : var(--offset-medium);
        background     : var(--bg-main-color);
        border         : 1px solid var(--border-main-color);
        border-radius  : var(--offset-medium);
        display        : flex;
        flex-direction : column;
        gap            : var(--offset-medium);

        header {
            display         : flex;
            flex-direction  : row;
            gap             : var(--offset-medium);
            justify-content : space-between;
            align-items     : center;

            .left {
                display        : flex;
                flex-direction : row;
                gap            : var(--offset-small);

                .info {
                    display         : flex;
                    flex-direction  : column;
                    justify-content : center;
                    gap             : var(--offset-small);

                    time {
                        color     : var(--text-second-color);
                        font-size : var(--font-size-s);
                    }
                }
            }
        }
    }
}