.container {
    text-align      : center;
    padding         : var(--offset-medium);
    color           : var(--text-second-color);
    font-size       : var(--font-size-l);
    display         : flex;
    align-items     : center;
    justify-content : center;
}