@import "src/app/styles/animations/animations";

.container {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;

    .box {
        display : flex;
    }

    .children {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : fit-content;
        gap             : var(--offset-small);
        opacity         : 1;
        visibility      : visible;
        transition      : var(--transition-fast);
    }

    .rotating {
        animation : loading .4s infinite ease-in-out;
        width     : 20px;
        height    : 20px;
    }

    .loader {
        transform   : translateX(100%);
        opacity     : 0;
        visibility  : hidden;
        transition  : var(--transition-fast);
        display     : none;
        width       : 0;
        margin-left : 0;

        .rotating {
            animation : loading .4s infinite ease-in-out;
            width     : 20px;
            height    : 20px;
        }
    }

    &.prePending {
        .loader {
            display : inline-block;
        }
    }

    &.pending {
        .box.quad .children {
            opacity    : 0;
            visibility : hidden;
            width      : 0;
        }

        .loader {
            width      : 20px;
            transform  : translateX(0);
            opacity    : 1;
            visibility : visible;
        }

        .box:not(.quad) {
            .loader {
                margin-left : var(--offset-small);
            }
        }
    }
}