.container {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    position        : relative;

    .children {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : fit-content;
        gap             : var(--offset-small);
        opacity         : 1;
        transition      : var(--transition-fast);
        position        : relative;
    }

    &:after {
        content       : '';
        position      : absolute;
        border        : 2px solid var(--ghost-color);
        border-bottom : 2px solid transparent;
        border-radius : 50%;
        opacity       : 0;
        transition    : var(--transition-fast);
    }

    &.small {
        &:after {
            width  : 10px;
            height : 10px;
        }
    }

    &.medium {
        &:after {
            width  : 16px;
            height : 16px;
        }
    }

    &.large {
        &:after {
            width  : 20px;
            height : 20px;
        }
    }

    &.pending {
        .children {
            opacity : 0;
        }

        &:after {
            opacity   : 1;
            animation : loading-rotate .5s ease-in-out infinite;
        }
    }
}