@import "src/app/styles/animations/animations";

.container {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;

    .box {
        display : flex;
    }

    .children {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : fit-content;
        gap             : var(--offset-small);
    }

    .rotating {
        margin-left : 0;
        animation   : loading .4s infinite ease-in-out;
        width       : 0;
        height      : 20px;
        opacity     : 0;
        visibility  : hidden;
        transition  : var(--transition-fast);
    }

    &.pending {
        .rotating {
            margin-left : var(--offset-small);
            opacity     : 1;
            visibility  : visible;
            width       : 20px;
        }
    }
}