.dropdown {
    position      : fixed;
    z-index       : 2;
    background    : var(--bg-main-color);
    border-radius : var(--offset-medium);
    padding       : var(--offset-small);
    border        : 1px solid var(--border-main-color);
    max-width     : 100%;
    display       : block;
}