.container {
    display         : flex;
    flex-direction  : column;
    gap             : var(--offset-medium);
    align-items     : center;
    padding         : var(--offset-medium);
    border-radius   : var(--offset-medium);
    background      : var(--bg-main-color);
    width           : 100%;
    border          : 1px solid var(--border-main-color);
    backdrop-filter : var(--item-backdrop-filter);

    .avatar {
        width           : 100%;
        height          : 0;
        padding-bottom  : 100%;
        font-size       : var(--font-size-xxxl);
        border-radius   : var(--offset-medium);
        background      : var(--bg-main-color);
        text-decoration : none;
        font-weight     : 200;
    }

    .login {
        font-size : var(--font-size-l);
    }
}