.container {
    width         : 100%;
    background    : var(--bg-ghost-color);
    border-radius : var(--offset-medium);
    padding       : var(--offset-medium);
    display       : flex;
    align-items   : center;

    .input {
        height : 40px;
    }
}