.container {
    width         : 100%;
    background    : var(--bg-ghost-color);
    border-radius : var(--offset-small);
    padding       : var(--offset-small);
    display       : flex;
    align-items   : center;

    .form {
        display : flex;
        width   : 100%;
        gap     : var(--offset-medium);

        .inputContainer {
            flex : 1;

            .input {
                height : 40px;
            }
        }
    }
}