@keyframes mark {
    0% {
        box-shadow : 0 0 0 3px var(--bg-main-color), 0 0 0 5px var(--primary-color);
    }

    50% {
        box-shadow : 0 0 0 3px var(--bg-main-color), 0 0 0 5px var(--bg-ghost-color);
    }

    100% {
        box-shadow : 0 0 0 3px var(--bg-main-color), 0 0 0 5px var(--primary-color);
    }
}

@keyframes mark-me {
    0% {
        box-shadow : 0 0 0 3px var(--primary-color);
    }

    100% {
        box-shadow : 0 0 0 3px var(--bg-main-color), -3px 0 0 2px var(--primary-color);
    }
}

@keyframes mark-not-me {
    0% {
        box-shadow : 0 0 0 3px var(--primary-color);
    }

    100% {
        box-shadow : 0 0 0 3px var(--bg-main-color), -3px 0 0 2px var(--ghost-color);
    }
}


.container {
    width         : 100%;
    display       : flex;
    gap           : var(--offset-small);
    max-width     : 600px;
    padding       : var(--offset-small);
    border-radius : var(--offset-medium);
    transition    : var(--transition-fast);
    margin        : var(--offset-small) 0;
    background    : var(--bg-ghost-color-opacity-medium);

    &:hover {
        cursor     : pointer;
        background : var(--bg-ghost-color-opacity-low);
    }

    &.target {
        animation : mark .5s ease-in-out 5;
    }

    &:not(.me).target {
        animation : mark .5s ease-in-out 5;
    }

    &.me {
        box-shadow   : none;
        align-self   : end;
        padding-left : var(--offset-medium);
        background   : var(--bg-mark-color);

        &:hover {
            background : var(--blue-opacity-medium);
        }

        & .avatar {
            display : none;
        }
    }

    &.notRead {
        background : var(--bg-second-color);

        .avatar {
            background : var(--bg-second-color);
        }
    }

    .body {
        width          : 100%;
        display        : flex;
        flex-direction : column;
        gap            : var(--offset-small);

        .header {
            width           : 100%;
            display         : flex;
            justify-content : space-between;
            gap             : var(--offset-small);

            .login {
                font-size   : var(--font-size-m);
                font-weight : 400;
            }

            .info {
                display     : flex;
                gap         : var(--offset-small);
                color       : var(--text-second-color);
                align-items : center;

                .date {
                    font-size : var(--font-size-s);
                }

                .redacted {
                    font-size : var(--font-size-m);
                }
            }
        }

        .message {
            color      : var(--text-main-color);
            word-break : break-all;
        }
    }

    &.top {
        border-radius : var(--offset-medium) var(--offset-medium) var(--offset-extra-small) var(--offset-extra-small);
        margin-bottom : 0;
    }

    &.middle {
        border-radius : var(--offset-extra-small);
        margin        : 0;

        .avatar {
            opacity    : 0;
            visibility : hidden;
            height     : 0;
            min-height : 0;
            max-height : 0;
        }

        .body {
            .header {
                display : none;
            }
        }
    }

    &.bottom {
        border-radius : var(--offset-extra-small) var(--offset-extra-small) var(--offset-medium) var(--offset-medium);
        margin-top    : 0;

        .avatar {
            opacity    : 0;
            visibility : hidden;
            height     : 0;
            min-height : 0;
            max-height : 0;
        }

        .body {
            .header {
                display : none;
            }
        }
    }
}