$header-height    : 43px;
$input-height     : 50px;
$right-side-width : 400px;

.container {
    height     : 100%;
    width      : 100%;
    display    : flex;
    gap        : 0;
    transition : var(--transition-medium);

    .leftSide {
        width          : 100%;
        display        : flex;
        flex-direction : column;
        gap            : var(--offset-small);
        transition     : var(--transition-medium);
        position       : relative;
    }

    .rightSide {
        width         : 0;
        overflow-x    : hidden;
        transition    : var(--transition-medium);
        background    : var(--bg-ghost-color);
        border-radius : var(--offset-medium);
        position      : relative;
        height        : 100%;

        .content {
            width   : 100%;
            height  : 100%;
            padding : var(--offset-small);
        }
    }

    &_opened {
        gap : var(--offset-small);

        .leftSide {
            gap   : var(--offset-small);
            width : calc(100% - $right-side-width - var(--offset-small));
        }

        .rightSide {
            width : $right-side-width;
        }
    }

    .header {
        height : $header-height;
    }

    .messages {
        height : calc(100% - $header-height - $input-height - var(--offset-small) * 2);
    }

    .input {
        height : $input-height;
    }
}