:root .dark {
    --bg-main-color                  : var(--black);
    --bg-main-color-opacity-hard     : var(--black-opacity-hard);
    --bg-main-color-opacity-medium   : var(--black-opacity-medium);
    --bg-main-color-opacity-low      : var(--black-opacity-low);
    --bg-main-foreground-color       : var(--white);
    --bg-second-color                : var(--obscure-dark-gray);
    --bg-second-color-opacity-hard   : var(--dark-gray-opacity-hard);
    --bg-second-color-opacity-medium : var(--dark-gray-opacity-medium);
    --bg-second-color-opacity-low    : var(--dark-gray-opacity-low);
    --bg-second-foreground-color     : var(--obscure-light-gray);
    --bg-ghost-color                 : var(--obscure-dark-gray);
    --bg-ghost-color-opacity-hard    : var(--obscure-dark-gray-opacity-hard);
    --bg-ghost-color-opacity-medium  : var(--obscure-dark-gray-opacity-medium);
    --bg-ghost-color-opacity-low     : var(--obscure-dark-gray-opacity-low);
    --bg-ghost-foreground-color      : var(--light-gray);
    --bg-mark-color                  : var(--dark-blue);
    --bg-mark-foreground-color       : var(--white);
    --text-main-color                : var(--white);
    --text-main-foreground-color     : var(--black);
    --text-second-color              : var(--gray);
    --text-second-foreground-color   : var(--gray);
    --primary-color                  : var(--blue);
    --on-primary-text-color          : var(--white);
    --second-color                   : var(--green);
    --on-second-text-color           : var(--white);
    --ghost-color                    : var(--obscure-gray);
    --on-ghost-text-color            : var(--white);
    --invisible-color                : var(--obscure-gray);
    --on-invisible-text-color        : var(--white);
    --danger-color                   : var(--red);
    --on-danger-color                : var(--white);
    --border-main-color              : var(--dark-gray);
}