.container {
    width           : 100%;
    height          : 100%;
    max-width       : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : var(--offset-medium);
    padding         : var(--offset-large);

    .inputError {
        width         : fit-content;
        padding       : var(--offset-medium);
        border-radius : var(--offset-medium);
        border        : 2px solid var(--danger-color);
    }

    .trace {
        color       : var(--ghost-color);
        white-space : break-spaces;
        word-break  : break-all;
    }
}