.container {
    font-weight   : bold;
    transition    : var(--transition-medium);
    outline       : none;
    border-radius : var(--offset-small);
    padding       : var(--offset-small);
    cursor        : pointer;

    &:focus-visible {
        box-shadow : 0 0 0 2px var(--bg-main-color), 0 0 0 4px var(--primary-color), 0 0 25px -10px var(--primary-color);
    }

    &:hover {
        background : var(--bg-second-color);
    }
}