.container {
    .title {
        font-size     : var(--font-size-xl);
        padding       : var(--offset-medium) 0;
        border-bottom : 1px solid var(--border-main-color);
        margin-bottom : var(--offset-medium);
    }
}