.container {
    .title {
        font-size     : var(--font-size-xl);
        padding       : var(--offset-small) 0;
        border-bottom : 2px dotted var(--border-main-color);
        margin-bottom : var(--offset-medium);
    }
}