.container {
    display        : flex;
    flex-direction : column;

    &.small {
        gap : var(--offset-small);
    }

    &.medium {
        gap : var(--offset-medium);
    }

    &.large {
        gap : var(--offset-large);
    }
}