@keyframes blink {
    0% {
        opacity : 1;
    }

    50% {
        opacity : .6;
    }

    100% {
        opacity : 1;
    }
}

.container {
    .link {
        display         : flex;
        gap             : var(--offset-small);
        align-items     : center;
        text-decoration : none;
        border-radius   : var(--offset-medium);
        width           : 100%;
        padding         : var(--offset-small);

        &:hover {
            background : var(--bg-ghost-color);
        }
    }

    .image {
        width           : 50px;
        min-width       : 50px;
        height          : 50px;
        min-height      : 50px;
        font-size       : var(--font-size-xl);
        font-weight     : 200;
        text-decoration : none;
    }

    .content {
        display        : flex;
        flex-direction : column;
        gap            : var(--offset-small);
        width          : calc(100% - 50px - var(--offset-small));

        .header {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            gap             : var(--offset-medium);

            .title {
                font-size   : var(--font-size-m);
                font-weight : 400;
            }

            .status {
                display : flex;
                gap     : var(--offset-small);

                .item {
                    color : var(--invisible-color);

                    &_me {
                        color : var(--primary-color);
                    }

                    &_message {
                        color     : var(--bg-main-foreground-color);
                        filter    : drop-shadow(0 0 8px var(--invisible-color));
                        animation : blink ease-in-out infinite 1s;
                    }
                }
            }
        }
    }

    &.selected {
        .link {
            background : var(--primary-color);
        }

        .content {
            .header {
                .title {
                    color : var(--white);
                }
            }

            .status {
                .item {
                    color : var(--light-gray);

                    &_me {
                        color : var(--white);
                    }
                }
            }
        }
    }
}