.container {
    display         : flex;
    gap             : var(--offset-small);
    align-items     : center;
    justify-content : space-between;

    .link {
        display     : flex;
        gap         : var(--offset-small);
        align-items : center;

        .avatar {
            width         : 30px;
            height        : 30px;
            border-radius : var(--offset-small);
            background    : var(--bg-ghost-color);
        }
    }
}