@keyframes rotate360 {
    0% {
        transform : rotate(0deg);
    }

    100% {
        transform : rotate(360deg);
    }
}

.container {
    width         : 64px;
    height        : 64px;
    position      : relative;
    border        : 2px solid var(--border-main-color);
    border-radius : 50%;
    padding       : var(--offset-small);
    background    : var(--bg-main-color);

    &::after {
        content       : '';
        position      : absolute;
        top           : 5px;
        left          : 5px;
        width         : 46px;
        height        : 46px;
        animation     : rotate360 2s infinite ease-in-out;
        border-radius : 50%;
        border        : 2px solid var(--primary-color);
        border-right  : 2px solid transparent;
    }

    &::before {
        content       : '';
        position      : absolute;
        top           : 10px;
        left          : 10px;
        width         : 36px;
        height        : 36px;
        animation     : rotate360 1s infinite ease-in-out;
        border-radius : 50%;
        border        : 2px dotted var(--ghost-color);
        border-right  : 2px dotted transparent;
    }
}