.container {
    width           : 100%;
    padding         : var(--offset-small);
    background      : var(--bg-ghost-color);
    border-radius   : var(--offset-medium);
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    gap             : var(--offset-small);
}