.container {
    width           : 100%;
    padding         : var(--offset-small);
    background      : var(--bg-ghost-color);
    border-radius   : var(--offset-small);
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    gap             : var(--offset-small);

    .sides {
        width           : 100%;
        display         : flex;
        justify-content : space-between;
        gap             : var(--offset-small);
    }

    .divider {
        margin     : var(--offset-small);
        width      : 2px;
        height     : 14px;
        background : var(--bg-second-color);
    }
}