:root {
    --black              : #000;
    --white              : #FFF;
    --dark-gray          : #111;
    --obscure-dark-gray  : #222;
    --gray               : #666;
    --obscure-light-gray : #DDD;
    --light-gray         : #EEE;
    --blue               : #55F;
    --red                : #F55;
    --green              : #5A5;
}