:root {
    --black                               : #000;
    --black-opacity-hard                  : #0003;
    --black-opacity-medium                : #0008;
    --black-opacity-low                   : #000D;
    --white                               : #FFF;
    --white-opacity-hard                  : #FFF5;
    --white-opacity-medium                : #FFF9;
    --white-opacity-low                   : #FFFD;
    --obscure-dark-gray                   : #0A0A0F;
    --obscure-dark-gray-opacity-hard      : #0A0A0F33;
    --obscure-dark-gray-opacity-medium    : #0A0A0F88;
    --obscure-dark-gray-opacity-low       : #0A0A0FDD;
    --dark-gray                           : #1A1B20;
    --dark-gray-opacity-hard              : #1A1B2033;
    --dark-gray-opacity-medium            : #1A1B2088;
    --dark-gray-opacity-low               : #1A1B20DD;
    --obscure-gray                        : #334;
    --obscure-gray-opacity-hard           : #3343;
    --obscure-gray-opacity-medium         : #3348;
    --obscure-gray-opacity-low            : #334D;
    --gray                                : #667;
    --gray-opacity-hard                   : #6673;
    --gray-opacity-medium                 : #6678;
    --gray-opacity-low                    : #667D;
    --lighten-gray                        : #808090;
    --lighten-gray-opacity-hard           : #80809033;
    --lighten-gray-opacity-medium         : #80809088;
    --lighten-gray-opacity-low            : #808090DD;
    --obscure-light-gray                  : #F3F3F9;
    --obscure-lighten-gray-opacity-hard   : #F3F3F933;
    --obscure-lighten-gray-opacity-medium : #F3F3F988;
    --obscure-lighten-gray-opacity-low    : #F3F3F9DD;
    --light-gray                          : #F6F6F9;
    --light-gray-opacity-hard             : #F6F6F933;
    --light-gray-opacity-medium           : #F6F6F988;
    --light-gray-opacity-low              : #F6F6F9DD;
    --dark-light-gray                     : #E6E6EA;
    --blue                                : #55F;
    --blue-opacity-hard                   : #55F3;
    --blue-opacity-medium                 : #55F8;
    --blue-opacity-low                    : #55FD;
    --light-blue                          : #CCF;
    --light-blue-opacity-hard             : #CCF3;
    --light-blue-opacity-medium           : #CCF8;
    --light-blue-opacity-low              : #CCFD;
    --dark-blue                           : #225;
    --dark-blue-opacity-hard              : #22F3;
    --dark-blue-opacity-medium            : #22F8;
    --dark-blue-opacity-low               : #22FD;
    --red                                 : #F55;
    --red-opacity-hard                    : #F553;
    --red-opacity-medium                  : #F558;
    --red-opacity-low                     : #F55D;
    --green                               : #5A5;
    --green-opacity-hard                  : #5A53;
    --green-opacity-medium                : #5A58;
    --green-opacity-low                   : #5A5D;
    --yellow                              : #FFEF31;
}