:root {
    --black                               : #000;
    --black-opacity-hard                  : #0003;
    --black-opacity-medium                : #0008;
    --black-opacity-low                   : #000D;
    --white                               : #FFF;
    --white-opacity-hard                  : #FFF5;
    --white-opacity-medium                : #FFF9;
    --white-opacity-low                   : #FFFC;
    --obscure-dark-gray                   : #0A0A0A;
    --obscure-dark-gray-opacity-hard      : #0A0A0A33;
    --obscure-dark-gray-opacity-medium    : #0A0A0A88;
    --obscure-dark-gray-opacity-low       : #0A0A0ADD;
    --dark-gray                           : #151515;
    --dark-gray-opacity-hard              : #15151533;
    --dark-gray-opacity-medium            : #15151588;
    --dark-gray-opacity-low               : #151515DD;
    --obscure-gray                        : #333;
    --obscure-gray-opacity-hard           : #3333;
    --obscure-gray-opacity-medium         : #3338;
    --obscure-gray-opacity-low            : #333D;
    --gray                                : #666;
    --gray-opacity-hard                   : #6663;
    --gray-opacity-medium                 : #6668;
    --gray-opacity-low                    : #666D;
    --lighten-gray                        : #808080;
    --lighten-gray-opacity-hard           : #80808033;
    --lighten-gray-opacity-medium         : #80808088;
    --lighten-gray-opacity-low            : #808080DD;
    --obscure-light-gray                  : #DDD;
    --obscure-lighten-gray-opacity-hard   : #DDD3;
    --obscure-lighten-gray-opacity-medium : #DDD8;
    --obscure-lighten-gray-opacity-low    : #DDDD;
    --light-gray                          : #EEE;
    --light-gray-opacity-hard             : #EEE3;
    --light-gray-opacity-medium           : #EEE8;
    --light-gray-opacity-low              : #EEED;
    --blue                                : #55F;
    --blue-opacity-hard                   : #55F3;
    --blue-opacity-medium                 : #55F8;
    --blue-opacity-low                    : #55FD;
    --light-blue                          : #CCF;
    --light-blue-opacity-hard             : #CCF3;
    --light-blue-opacity-medium           : #CCF8;
    --light-blue-opacity-low              : #CCFD;
    --dark-blue                           : #225;
    --dark-blue-opacity-hard              : #22F3;
    --dark-blue-opacity-medium            : #22F8;
    --dark-blue-opacity-low               : #22FD;
    --red                                 : #F55;
    --red-opacity-hard                    : #F553;
    --red-opacity-medium                  : #F558;
    --red-opacity-low                     : #F55D;
    --green                               : #5A5;
    --green-opacity-hard                  : #5A53;
    --green-opacity-medium                : #5A58;
    --green-opacity-low                   : #5A5D;
}