.container {
    display     : flex;
    align-items : center;
    gap         : var(--offset-small);;

    .time {
        color     : var(--text-second-color);
        font-size : var(--font-size-s);
    }

    .viewed {
        height    : var(--font-size-l);
        color     : var(--text-main-color);
        font-size : var(--font-size-l);

        &.checked {
            color : var(--text-second-color);
        }
    }
}