.container {
    width          : clamp(180px, 180px, 180px);
    height         : fit-content;
    display        : flex;
    flex-direction : column;
    gap            : var(--offset-small);
    border-radius  : var(--offset-medium);
    background     : var(--bg-ghost-color);
    border         : 1px solid var(--border-main-color);
    padding        : var(--offset-small);
    overflow       : hidden;

    .header {
        position : relative;
        width    : fit-content;
        height   : fit-content;

        .image {
            width           : clamp(168px, 168px, 168px);
            height          : clamp(168px, 168px, 168px);
            background      : var(--bg-second-color);
            border-radius   : var(--offset-small);
            display         : flex;
            align-items     : center;
            justify-content : center;
        }

        .private {
            position        : absolute;
            top             : var(--offset-small);
            right           : var(--offset-small);
            background      : var(--primary-color);
            color           : var(--on-primary-text-color);
            width           : 26px;
            height          : 26px;
            border-radius   : 50%;
            font-size       : var(--font-size-s);
            display         : flex;
            align-items     : center;
            justify-content : center;
        }
    }

    .info {
        text-align : left;

        .title {
            font-size : var(--font-size-m);
        }

        .type {
            font-size : var(--font-size-s);
            color     : var(--text-second-color);
        }

        .size {
            font-size : var(--font-size-s);
            color     : var(--text-second-color);
        }
    }
}