.container {
    height          : 100dvh;
    max-width       : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;

    > header {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        gap             : var(--offset-small);
        width           : 800px;
        max-width       : 100%;
        padding         : var(--offset-small);
        position        : absolute;
        top             : 0;
        left            : 50%;
        transform       : translateX(-50%);

        > ul {
            display         : flex;
            list-style-type : none;
            gap             : var(--offset-small);
            align-items     : center;
        }
    }

    .content {
        display        : flex;
        flex-direction : column;
        align-items    : stretch;
        gap            : var(--offset-medium);
    }

    .form {
        &.disabled {
            pointer-events : none;
            opacity        : .5;
        }
    }
}