.container {
    height          : 100dvh;
    max-width       : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;

    .form {
        &.disabled {
            pointer-events : none;
            opacity        : .5;
        }
    }
}