.container {
    overflow       : auto;
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column-reverse;

    &.top {
        flex-direction : column;
    }

    .content {
        height         : fit-content;
        display        : flex;
        flex-direction : column;

        &.reverse {
            flex-direction : column-reverse;
        }
    }
}