.container {
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    gap             : var(--offset-medium);
    list-style-type : none;
}