.container {
    width  : fit-content;
    height : fit-content;
}

.popover {
    position        : fixed;
    z-index         : 2;
    top             : 0;
    left            : 0;
    background      : var(--bg-main-color);
    border-radius   : var(--offset-medium);
    padding         : var(--offset-small);
    border          : 1px solid var(--border-main-color);
    width           : fit-content;
    height          : fit-content;
    max-width       : 300px;
    box-shadow      : 0 0 15px -10px var(--bg-main-color);
    align-items     : center;
    justify-content : center;
    text-align      : center;
    display         : flex;
    visibility      : hidden;
    opacity         : 0;

    &.visible {
        visibility : visible;
        opacity    : 1;
    }
}