.container {
    width  : fit-content;
    height : fit-content;
}

.popover {
    position      : fixed;
    z-index       : 2;
    visibility    : hidden;
    opacity       : 0;
    transition    : var(--transition-fast) visibility, var(--transition-fast) opacity;
    background    : var(--bg-main-color);
    border-radius : var(--offset-medium);
    padding       : var(--offset-small);
    border        : 1px solid var(--border-main-color);
    max-width     : 100%;

    &.opened {
        visibility : visible;
        opacity    : 1;
    }
}