.container {
    position      : fixed;
    bottom        : var(--offset-small);
    z-index       : 10;
    right         : var(--offset-small);
    transform     : translateY(100%);
    transition    : var(--transition-fast);
    padding       : var(--offset-small);
    background    : var(--bg-main-color-opacity-low);
    border-radius : var(--offset-small);

    &.show {
        transform : translateY(0);
    }
}